h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.7rem;
}

p {
  font-size: 1rem;
}

a {
  color: black;
  text-decoration: underline;
}

.footer-contact {
  margin: 0 auto;
  text-align: center;
}
.footer {
  background-color: rgb(215, 179, 215);
  height: 29rem;
  margin: 0 auto;
  position: relative;
}
.footer-contact h2 {
  text-align: justify;
  margin-left: 2rem;
}
.footer-contact p {
  text-align: justify;
  margin-left: 2rem;
}

.footer-haut {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.footer-reseaux {
  margin: 2rem auto;
  display: flex;
  justify-content: space-around;
  width: 15rem;
}

.footer-logo {
  width: 3rem;
}
.mentions {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-copyright {
  margin: 1rem;
  color: gray;
  font-style: italic;
  font-size: 1rem;
  text-align: center;
}

.footer-legal {
  background-color: red;
}

@media screen and (min-width: 800px) {
  .footer-reseaux {
    margin-right: 2px;
  }
  .footer {
    height: 19rem;
  }
  .footer-copyright {
    margin: 0 10px 0 0;
  }

  .footer-contact {
    margin: 0;
  }

  .footer-haut {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    padding: 2rem;
  }

  .footer-mention {
    width: 30rem;
    display: flex;
    justify-content: space-around;
  }

  .footer-bas {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
