.nav {
  background-color: rgb(167, 130, 167);
  display: flex;
  justify-content: space-between;
  z-index: 10;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
  font-size: 25px;
}
.logo {
  display: flex;
  justify-content: flex-end;
  width: 30%;
}
.panier {
  width: 5%;
}
@media screen and (max-width: 800px) {
  .menu {
    flex-direction: column;
    font-size: 5px;
  }
  .panier {
    display: none;
  }
  .logo {
    width: 20%;
  }
}
